openapi: 3.1.0
info:
  title: RunwayCtrl Control Plane API
  version: "0.1.0"
  description: |
    RunwayCtrl is an agent execution control plane. This API provides governed execution primitives:
    ActionKey (idempotency), Attempts (execution records), Leases (resource locking), and
    policy-driven retry/denial behavior (budgets/backoff/circuiting).

    Normative language: MUST/SHOULD/MAY where applicable.
    See Documentation/API Contract.md and Documentation/Error Codes and Retry.md.
servers:
  - url: https://api.runwayctrl.dev
    description: Production
  - url: http://localhost:8080
    description: Local dev
tags:
  - name: Actions
  - name: Attempts
  - name: Leases
  - name: Insights
  - name: Admin
  - name: Meta
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
  parameters:
    ActionKey:
      name: action_key
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/ActionKey"
    AttemptId:
      name: attempt_id
      in: path
      required: true
      schema:
        $ref: "#/components/schemas/AttemptId"
  headers:
    X-Request-Id:
      description: Server-generated correlation id.
      schema:
        $ref: "#/components/schemas/RequestId"
  schemas:
    # ---------- Common ----------
    RequestId:
      type: string
      description: Correlation identifier generated by the server (also returned as X-Request-Id header).
      minLength: 8
      maxLength: 128
      examples: ["req_01J8Z2K8W2JQZP3Q4X8G2M9P1A"]
    ISODateTime:
      type: string
      format: date-time
      examples: ["2026-01-21T18:25:43Z"]

    TenantId:
      type: string
      description: Tenant identifier derived from auth. Not accepted as input for tenant-scoped endpoints.
      minLength: 6
      maxLength: 64
      examples: ["tnt_01J8Z2K8W2JQZP3Q4X8G2M9P1A"]

    ActionKey:
      type: string
      description: |
        Stable idempotency key for a semantic action. MUST be tenant-scoped in storage and queries.
        Typically derived from canonicalized inputs (tool + action + args_hash + resource_key).
      minLength: 16
      maxLength: 256
      pattern: "^[A-Za-z0-9_\\-:.]{16,256}$"
      examples: ["act_9k3dW2bFvJmH1Zk2pQ8n"]

    ResourceKey:
      type: string
      description: |
        Key representing a resource to serialize (lock) access to (e.g., "jira:issue:ABC-123").
        Treat as sensitive if it embeds customer identifiers; may be hashed in telemetry.
      minLength: 3
      maxLength: 256
      examples: ["jira:issue:ABC-123"]

    AttemptId:
      type: string
      description: Unique identifier for an execution attempt.
      format: uuid
      examples: ["3fa85f64-5717-4562-b3fc-2c963f66afa6"]

    ToolName:
      type: string
      minLength: 2
      maxLength: 64
      examples: ["jira", "github", "servicenow"]
    ToolAction:
      type: string
      minLength: 2
      maxLength: 128
      examples: ["create_issue", "update_ticket", "post_comment"]

    OutcomePointer:
      type: string
      description: Opaque pointer to outcome material (e.g., blob key) or a compact embedded outcome.
      minLength: 1
      maxLength: 1024
      examples: ["s3://runwayctrl-outcomes/tnt_.../act_.../att_...json"]

    Hash:
      type: string
      description: Hex or base64url hash of canonicalized payloads/outcomes.
      minLength: 16
      maxLength: 256
      examples: ["sha256:8b5c2c9a7f..."]

    AttemptStatus:
      type: string
      enum: ["IN_FLIGHT", "SUCCESS", "FAILURE", "UNKNOWN"]
    FailureClass:
      type: string
      description: Coarse failure classification for operator visibility and policy decisions.
      enum:
        - RATE_LIMIT
        - TIMEOUT
        - AUTH
        - VALIDATION
        - SERVER_ERROR
        - BUDGET_DENIED
        - LEASE_DENIED
        - CIRCUIT_OPEN
        - UNKNOWN

    ErrorCode:
      type: string
      description: Stable machine-readable error code.
      enum:
        - VALIDATION_ERROR
        - AUTH_ERROR
        - NOT_FOUND
        - CONFLICT
        - BUDGET_DENIED
        - LEASE_DENIED
        - CIRCUIT_OPEN
        - RATE_LIMITED
        - INTERNAL_ERROR

    ErrorResponse:
      type: object
      required: [request_id, error_code, message]
      additionalProperties: false
      properties:
        request_id:
          $ref: "#/components/schemas/RequestId"
        error_code:
          $ref: "#/components/schemas/ErrorCode"
        message:
          type: string
          maxLength: 512
        retry_after_ms:
          type: integer
          minimum: 0
          description: When present, clients SHOULD wait at least this many milliseconds before retrying.
        details:
          type: object
          additionalProperties: true
          description: Optional non-sensitive details for debugging (never include secrets).
      examples:
        - request_id: "req_01J8Z2K8W2JQZP3Q4X8G2M9P1A"
          error_code: "BUDGET_DENIED"
          message: "Denied: budget exhausted for jira.create_issue"
          retry_after_ms: 38000

    # ---------- Actions ----------
    BeginActionRequest:
      type: object
      required: [tool, action]
      additionalProperties: false
      properties:
        tool:
          $ref: "#/components/schemas/ToolName"
        action:
          $ref: "#/components/schemas/ToolAction"
        action_key:
          $ref: "#/components/schemas/ActionKey"
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        args_hash:
          $ref: "#/components/schemas/Hash"
        args:
          type: object
          additionalProperties: true
          description: Optional raw arguments. SHOULD be avoided by default; prefer args_hash.
        dedupe_window_ms:
          type: integer
          minimum: 0
          description: Optional override (tenant policy may clamp). 0 means "no dedupe".
        join_window_ms:
          type: integer
          minimum: 0
          description: Optional join time. If action is in-flight, server MAY wait up to this long.
        idempotency_support:
          type: string
          enum: ["NONE", "HEADER", "PAYLOAD_TOKEN"]
          description: How the underlying tool supports idempotency (informs SDK strategy).
        client_request_id:
          type: string
          maxLength: 128
          description: Optional caller-provided request id for correlation (never used for auth).
      oneOf:
        - required: [args_hash]
        - required: [args]
      description: |
        BeginAction requests the control plane to govern a tool action execution.
        Either args_hash or args MUST be provided. If args is provided, server MAY hash it.

    BeginActionProceedResponse:
      type: object
      required: [decision, attempt_id, action_key]
      properties:
        decision:
          type: string
          enum: ["PROCEED"]
        action_key:
          $ref: "#/components/schemas/ActionKey"
        attempt_id:
          $ref: "#/components/schemas/AttemptId"
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        headers:
          type: object
          additionalProperties:
            type: string
          description: Headers the SDK SHOULD attach to the tool call (e.g., Idempotency-Key).
        retry:
          type: object
          description: Optional retry plan hints (non-authoritative; governor is authoritative).
          properties:
            max_attempts:
              type: integer
              minimum: 1
            backoff_hint_ms:
              type: integer
              minimum: 0

    BeginActionReplaySuccessResponse:
      type: object
      required: [decision, action_key, outcome_pointer]
      properties:
        decision:
          type: string
          enum: ["REPLAY_SUCCESS"]
        action_key:
          $ref: "#/components/schemas/ActionKey"
        outcome_pointer:
          type: string
        terminal_attempt_id:
          $ref: "#/components/schemas/AttemptId"
        terminal_at:
          $ref: "#/components/schemas/ISODateTime"

    BeginActionReplayFailureResponse:
      type: object
      required: [decision, action_key, failure_class]
      properties:
        decision:
          type: string
          enum: ["REPLAY_FAILURE"]
        action_key:
          $ref: "#/components/schemas/ActionKey"
        failure_class:
          $ref: "#/components/schemas/FailureClass"
        terminal_attempt_id:
          $ref: "#/components/schemas/AttemptId"
        terminal_at:
          $ref: "#/components/schemas/ISODateTime"

    BeginActionPendingResponse:
      type: object
      required: [decision, action_key, retry_after_ms]
      properties:
        decision:
          type: string
          enum: ["PENDING"]
        action_key:
          $ref: "#/components/schemas/ActionKey"
        in_flight_attempt_id:
          $ref: "#/components/schemas/AttemptId"
        retry_after_ms:
          type: integer
          minimum: 0
        poll_url:
          type: string
          description: Relative URL to poll action status.

    BeginActionResponse:
      oneOf:
        - $ref: "#/components/schemas/BeginActionProceedResponse"
        - $ref: "#/components/schemas/BeginActionReplaySuccessResponse"
        - $ref: "#/components/schemas/BeginActionReplayFailureResponse"
        - $ref: "#/components/schemas/BeginActionPendingResponse"
      description: Union response for BeginAction.

    ActionStatusResponse:
      type: object
      required: [action_key, status, attempt_count, created_at, updated_at]
      properties:
        action_key:
          $ref: "#/components/schemas/ActionKey"
        status:
          type: string
          enum: ["IN_FLIGHT", "SUCCESS", "FAILURE", "UNKNOWN"]
        terminal_attempt_id:
          $ref: "#/components/schemas/AttemptId"
        outcome_pointer:
          $ref: "#/components/schemas/OutcomePointer"
        failure_class:
          $ref: "#/components/schemas/FailureClass"
        attempt_count:
          type: integer
          minimum: 0
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        created_at:
          $ref: "#/components/schemas/ISODateTime"
        updated_at:
          $ref: "#/components/schemas/ISODateTime"

    # ---------- Attempts ----------
    CompleteAttemptRequest:
      type: object
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string
          enum: ["SUCCESS", "FAILURE"]
        failure_class:
          $ref: "#/components/schemas/FailureClass"
        outcome_hash:
          $ref: "#/components/schemas/Hash"
        outcome_pointer:
          $ref: "#/components/schemas/OutcomePointer"
        tool_http_status:
          type: integer
          minimum: 100
          maximum: 599
        tool_request_id:
          type: string
          maxLength: 128
        latency_ms:
          type: integer
          minimum: 0
        trace_id:
          type: string
          maxLength: 64
        rate_limit_headers:
          type: object
          additionalProperties:
            type: string
          description: |
            Captured rate limit headers from the tool's HTTP response.
            Provider-specific structure (all values as strings):
            - Jira: jira-quota-global-based, jira-quota-tenant-based, jira-burst-based, jira-per-issue-on-write, retry-after
            - ServiceNow: x-ratelimit-remaining, x-ratelimit-limit, retry-after
            - GitHub: x-ratelimit-remaining, x-ratelimit-limit, x-ratelimit-reset
            Used by the Integration Health dashboard to display per-provider rate limit gauges.
      description: |
        Completes an attempt as SUCCESS or FAILURE.
        If status=FAILURE, failure_class SHOULD be provided.

    CompleteAttemptResponse:
      type: object
      required: [attempt_id, status, updated_at]
      properties:
        attempt_id:
          $ref: "#/components/schemas/AttemptId"
        status:
          $ref: "#/components/schemas/AttemptStatus"
        action_key:
          $ref: "#/components/schemas/ActionKey"
        terminalized_action:
          type: boolean
          description: True if this completion caused the action to become terminal.
        updated_at:
          $ref: "#/components/schemas/ISODateTime"

    MarkUnknownRequest:
      type: object
      required: [reason]
      additionalProperties: false
      properties:
        reason:
          type: string
          enum: ["TIMEOUT", "NETWORK", "UNKNOWN"]
        latency_ms:
          type: integer
          minimum: 0
        trace_id:
          type: string
          maxLength: 64

    MarkUnknownResponse:
      type: object
      required: [attempt_id, status, updated_at]
      properties:
        attempt_id:
          $ref: "#/components/schemas/AttemptId"
        status:
          type: string
          enum: ["UNKNOWN"]
        action_key:
          $ref: "#/components/schemas/ActionKey"
        updated_at:
          $ref: "#/components/schemas/ISODateTime"

    # ---------- Leases ----------
    LeaseState:
      type: string
      enum: ["GRANTED", "RENEWED", "DENIED"]

    AcquireLeaseRequest:
      type: object
      required: [resource_key, holder_id, ttl_ms]
      additionalProperties: false
      properties:
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        holder_id:
          type: string
          description: Identifier of the lease holder (e.g., attempt_id or instance_id).
          minLength: 6
          maxLength: 128
        ttl_ms:
          type: integer
          minimum: 1000
          maximum: 86400000

    AcquireLeaseResponse:
      type: object
      required: [resource_key, holder_id, state, expires_at]
      properties:
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        holder_id:
          type: string
        state:
          $ref: "#/components/schemas/LeaseState"
        expires_at:
          $ref: "#/components/schemas/ISODateTime"
        retry_after_ms:
          type: integer
          minimum: 0
          description: Present when state=DENIED.

    RenewLeaseRequest:
      type: object
      required: [resource_key, holder_id, ttl_ms]
      additionalProperties: false
      properties:
        resource_key:
          $ref: "#/components/schemas/ResourceKey"
        holder_id:
          type: string
        ttl_ms:
          type: integer
          minimum: 1000
          maximum: 86400000

    RenewLeaseResponse:
      $ref: "#/components/schemas/AcquireLeaseResponse"

    # ---- Hub (LLM Execution Analysis) schemas ----
    HubInsight:
      type: object
      required: [severity, title, summary, recommendation]
      additionalProperties: false
      properties:
        severity:
          type: string
          enum: [info, warning, critical]
          description: Insight severity level.
        title:
          type: string
          maxLength: 256
          description: Short insight title.
        summary:
          type: string
          maxLength: 2048
          description: 2-3 sentence explanation.
        recommendation:
          type: string
          maxLength: 2048
          description: Actionable recommendation.
        data_points:
          type: array
          items:
            type: object
            required: [label, value]
            additionalProperties: false
            properties:
              label:
                type: string
                maxLength: 128
              value:
                oneOf:
                  - type: string
                  - type: number
          description: Supporting data that drove the insight.

    HubAnalysisResponse:
      type: object
      required: [analysis_date, insights, model_provider, model_name, generated_at]
      additionalProperties: false
      properties:
        analysis_date:
          type: string
          format: date
          description: Date of the analysis.
        insights:
          type: array
          items:
            $ref: "#/components/schemas/HubInsight"
          description: Array of pre-computed insights.
        model_provider:
          type: string
          description: LLM provider used (e.g., openai).
        model_name:
          type: string
          description: LLM model used (e.g., gpt-5.2).
        generated_at:
          $ref: "#/components/schemas/ISODateTime"

paths:
  /healthz:
    get:
      tags: [Meta]
      summary: Health check
      description: Liveness check (no auth).
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
              examples:
                default:
                  value: { ok: true }

  /v1/actions/begin:
    post:
      tags: [Actions]
      summary: Begin an action (governed execution)
      description: |
        Primary entrypoint. Determines whether to PROCEED, REPLAY, or return PENDING.
        Denials are returned as standard errors with retry_after_ms.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BeginActionRequest"
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: Decision returned (PROCEED / REPLAY_* / PENDING)
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BeginActionResponse"
        "409":
          description: Lease denied or other conflicts
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "429":
          description: Budget denied / rate limited
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "503":
          description: Circuit open / service unavailable
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/actions/{action_key}:
    get:
      tags: [Actions]
      summary: Get action status
      parameters:
        - $ref: "#/components/parameters/ActionKey"
      responses:
        "200":
          description: Action status
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ActionStatusResponse" }
        "404":
          description: Not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/attempts/{attempt_id}/complete:
    post:
      tags: [Attempts]
      summary: Complete an attempt
      parameters:
        - $ref: "#/components/parameters/AttemptId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompleteAttemptRequest" }
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: Attempt completion recorded
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompleteAttemptResponse" }
        "409":
          description: Invalid state transition / conflict
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Attempt not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/attempts/{attempt_id}/unknown:
    post:
      tags: [Attempts]
      summary: Mark attempt outcome unknown (timeout/network)
      parameters:
        - $ref: "#/components/parameters/AttemptId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MarkUnknownRequest" }
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: Attempt marked UNKNOWN
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarkUnknownResponse" }
        "409":
          description: Invalid state transition / conflict
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "404":
          description: Attempt not found
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/leases/acquire:
    post:
      tags: [Leases]
      summary: Acquire a resource lease (optional v0.1)
      description: |
        Acquire a tenant-scoped lock for resource_key. Returns GRANTED/RENEWED/DENIED.
        The control plane may also acquire leases implicitly during BeginAction.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AcquireLeaseRequest" }
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: Lease result
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AcquireLeaseResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  /v1/leases/renew:
    post:
      tags: [Leases]
      summary: Renew a resource lease (optional v0.1)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RenewLeaseRequest" }
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: Lease renewed/denied
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RenewLeaseResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ---- Internal/Admin endpoints (optional; may be separate service later) ----

  # ---- Insights endpoints (read-only analytics) ----
  /v1/insights/hub:
    get:
      tags: [Insights]
      summary: Get Hub analysis (LLM execution insights)
      description: |
        Returns the latest pre-computed LLM analysis of execution patterns for the tenant.
        The Hub runs daily after the aggregation worker and produces anomaly detection,
        optimization recommendations, and pattern summaries from aggregated ledger data.
        Returns 404 if Hub is disabled or no analysis exists yet.
        See ADR-0012 for the decision record.
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: Start date filter (inclusive).
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: End date filter (inclusive).
      responses:
        "200":
          description: Hub analysis returned
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HubAnalysisResponse"
        "404":
          description: Hub is disabled or no analysis exists
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }

  # ---- Internal/Admin endpoints (optional; may be separate service later) ----
  /v1/admin/api-keys:
    post:
      tags: [Admin]
      summary: Create an API key (internal/admin)
      description: |
        Internal/admin endpoint. Returns plaintext api_key ONCE. Store only the hash in DB.
      x-internal: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tenant_id, name]
              additionalProperties: false
              properties:
                tenant_id: { $ref: "#/components/schemas/TenantId" }
                name: { type: string, maxLength: 128 }
      responses:
        "400":
          description: Validation error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "200":
          description: API key created
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema:
                type: object
                required: [api_key_id, api_key]
                additionalProperties: false
                properties:
                  api_key_id: { type: string, maxLength: 64 }
                  api_key:
                    type: string
                    description: Plaintext API key. Returned once.
                    minLength: 16
                    maxLength: 128
        "401":
          description: Unauthorized
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          description: Internal error
          headers:
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
